.form-body{
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: grid;
    place-items: center;
    background: #000;
}
.form-container{
    background: #000;
    width: 450px;
    border-radius: 25px;
    color: rgb(5 196 107);
    min-height: 450px;
    height: auto;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 50px auto 50px;
    box-shadow: 5px 5px 5px 5px #ececec;
}

.m-vertical {
    position: relative;
    top: 80px;
}