.heroSection {
    height: 400px;
    width: 100%;
    /* background-image: url('/public/hero.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* filter: blur(0.5px); */
    background-attachment: fixed;
    background-image: url('/public/businessDb/business.jpg');
}


